<ul class="nav navbar-nav">
  <% if current_user %>
  <li>
    <%= link_to "new chatroom", new_chatroom_path%>
  </li>
  <% end %>
  
  <li>
    <%= link_to "chatrooms", chatrooms_path %>
  </li> 
</ul>

<ul class="nav navbar-nav navbar-right">
  <% if current_user %>
  <li>
    <%= link_to "注销", sessions_path, method: "delete" %>
  </li>
  <% else %>
  <li><%= link_to "注册", new_registration_path %></li>
  <li><%= link_to "登录", new_sessions_path %></li>
  <% end %>
</ul>
